@Model Credential
@{
    ViewBag.Title = "Sign Up - Carpare";
}

<div align="left"><h2>Sign Up</h2></div>
<div id="main">
    <span style="font-size:30px;cursor:pointer;float:right" onclick="openNav()">&#9776; MENU</span>
    <form action="~/Authentication/Login" method="post">
        User ID:<br /><input type="text" name="UserId" value="@Model.UserId"><br />
        Password:<br /><input type="password" name="Password" value="@Model.Password"><br />
        <input type="submit" value="Sign Up!">
    </form>
    <br />
