@using Carpare.Models.Entity
@model Comment[]

@{
    ViewBag.Title = "CommentShower";
}

<h2>CommentShower</h2>

<div id="main">
    <span style="font-size:30px;cursor:pointer;float:right" onclick="openNav()">&#9776; MENU</span>
    <table border="1" cellpadding="5">
        <caption>Comments</caption>
        <thead>
        <tr>
            <th>Comment Owner</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
            @foreach (Comment c in Model)
            {
                <tr>
                    <td>@c.UserId</td>
                    <td>@c.comment</td>
                </tr>
            }
            </tbody>
    </table>
    <p>@ViewBag.message</p>
</div>