@using Carpare.Models.Entity
@model User
@{
    ViewBag.Title = "ProfilePage";
}

<h2>Profile Page</h2>

@if (Model != null)
{
    <div id="main">
        <span style="font-size:30px;cursor:pointer;float:right" onclick="openNav()">&#9776; MENU</span>

        <h2>Welcome, @Model.UserId</h2>
        <h1>Update Your Profile!</h1>
        <font face="verdana" color="grey">Name</font>
        <form action="~/ProfilePage/UpdateUserId" method="post">
            New Name:<br /><input type="text" name="Name"><br />
            <input type="submit" value="Change">
        </form>

        <font face="verdana" color="grey">Password</font>
        <form action="~/ProfilePage/UpdatePassword" method="post">
            New Password: <br /><input type="password" name="Password"><br />
            <input type="submit" value="Change">
        </form>

        <font face="verdana" color="grey">E-Mail</font>
        <form action="~/ProfilePage/UpdateEmail" method="post">
            New E-Mail: <br /><input type="text" name="Email"><br />
            <input type="submit" value="Change">
        </form>
        <form action="~/ProfilePage/UpdateGender" method="post">
            <font face="verdana" color="grey">Gender</font><br />
            Change Your Gender: <br /><select name="Gender">
                <option>Male</option>
                <option>Female</option>
            </select><br />
            <input type="submit" value="Change">
        </form>
        <font face="verdana" color="grey">Birth Date</font>
        <form action="~/ProfilePage/UpdateBirthDate" method="post">
            Update Your Birth Date:<br /><input type="date" name="BirthDate"><br />
            <input type="submit" value="Change">
        </form>
        <font face="verdana" color="grey">Location</font>
        <form action="~/ProfilePage/UpdateLocation" method="post">
            Update Your Location:<br /><input type="text" name="Location"><br />
            <input type="submit" value="Change">
        </form>
        <p>@ViewBag.message</p>
    </div>
}