@using Carpare.Models.Entity
@model User
@{
    ViewBag.Title = "ProfilePage";
}
<div id="main">
    <span style="font-size:30px;cursor:pointer;float:right" onclick="openNav()">&#9776; MENU</span>

    <h2>Welcome, @Model.UserId</h2>
    <h1>Update Your Profile!</h1>
    <font face="verdana" color="grey">Name</font>
    <form action="~/ProfilePage/UpdateUserId" method="post">
        New Name:<br /><input type="text" name="Name"><br />
        <input type="submit" value="Change">
    </form>

    <font face="verdana" color="grey">Password</font>
    <form action="~/ProfilePage/UpdatePassword" method="post">
        New Password: <br /><input type="password" name="Password"><br />
        <input type="submit" value="Change">
    </form>

    <font face="verdana" color="grey">E-Mail</font>
    <form action="~/ProfilePage/UpdateEmail" method="post">
        New E-Mail: <br /><input type="text" name="Email"><br />
        <input type="submit" value="Change">
    </form>
    <p>@ViewBag.message</p>
</div>