
@{
    ViewBag.Title = "Admin Page";
}

<h2>Admin Page</h2>
<div id="main">
    <span style="font-size:30px;cursor:pointer;float:right" onclick="openNav()">&#9776; MENU</span>

    <p><a href="~/Admin/ListUsers">List All Users</a></p>
    <p><a href="~/Admin/ShowStatistics">Show Statistics</a></p>
    <p><a href="~/Admin/ChangeUserStatus">Change User Status</a></p>
    <p><a href="~/Admin/ResetUserPassword">Reset User Password</a></p>
    <p>@ViewBag.message</p>
</div>
