@using Carpare.Models.Entity
@model User[]
@{
    ViewBag.Title = "Reset User Password";
}
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<h2>Reset User Password</h2>

<div id="main">
    <span style="font-size:30px;cursor:pointer;float:right" onclick="openNav()">&#9776; MENU</span>
    <table>
        <tr>
            <th>UserId</th>
            <th>Reset Password</th>

        </tr>
        @foreach (User user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>
                    <form action="~/Admin/ResetPassword" method="post">
                        <input type="hidden" name="UserId" value="@user.UserId" />
                        <input type="submit" value="Reset">
                    </form>
                </td>

            </tr>
        }
    </table>
</div>
